<footer
  class="fixed-bottom w-100 d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top bg-dark"
>
  <p class="col-md-4 mb-0 text-muted">&copy; 2021 Ultimate System, Inc</p>
  
    {{!-- <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg> --}}
  </a>
  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item">
      <a class="nav-link link-secondary" href="/gamelibrary">Game Library</a>
    </li>
  </ul>
</footer>

