<section class="container">
  <h3 class="game-name">{{game.name}}</h3>
  <section class="flex-row justify-center">
    {{#each game.name as |games|}}
    {{> gaming-details}}
    {{/each}}
  </section>
</section>