{{! Navbar }}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-column">
  <div class="text-center w-100 d-block">

    <h1 class="navbar-brand .display" href="#">The Ultimate System</h1>
  </div>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-block" id="navbarSupportedContent">
      <ul class="d-flex navbar-nav mb-2 mb-lg-0 w-100">
        <li class="nav-item">
          <a class="nav-link" href="/gamelibrary">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item ms-auto">
          {{! Display if loggedin set to false }}
          {{#if loggedIn}}
            <a class="nav-link" href="/logout">Logout</a>
            {{! Display if logged in }}
            <script src="./js/logout.js"></script>
          {{else}}
            {{! <p
              id="logout-btn"
              class="nav-link active"
              aria-current="page"
              data-bs-toggle="modal"
              data-bs-target="#logout"
            >
              Log in
            </p> }}

          {{/if}}

        </li>
      </ul>
    </div>
  </div>
</nav>

{{! Login Modal }}

<div
  class="modal fade"
  id="login"
  aria-hidden="true"
  aria-labelledby="loginLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-light" id="loginTitle">Login</h5>
      </div>
      <div class="modal-body">
        <form class="bg-dark">
          <div class="mb-3">
            <label for="username" class="form-label text-light text-center">User
              Name</label>
            {{! //logged in }}
            <input
              type="text"
              class="form-control bg-secondary"
              id="username"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label
              for="userPassword"
              class="form-label text-light text-center"
            >Password</label>
            <input
              type="password"
              class="form-control bg-secondary"
              id="userPassword"
            />
          </div>
          <button id="stayloggedin" class="btn btn-secondary">Login</button>
          {{! <a href="/details"></a> }}
        </form>
      </div>
    </div>
  </div>
</div>

{{! Registration Modal }}

<div
  class="modal fade"
  id="register"
  aria-hidden="true"
  aria-labelledby="register"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title text-light" id="registerTitle">Register</h5>
      </div>
      <div class="modal-body text-light">
        <form class="bg-dark">
          <div class="mb-3">
            <label
              for="userEmail"
              class="form-label text-light text-center"
            >User Name</label>
            <input
              type="text"
              class="form-control bg-secondary"
              id="register-username-input"
              aria-describedby="emailHelp"
            />
            {{! <div id="emailHelp" class="form-text text-light">
              We'll never share your email with anyone else.
            </div> }}
          </div>
          <div class="mb-3">
            <label
              for="registerPassword"
              class="form-label text-light text-center"
            >Password</label>
            <input
              type="password"
              class="form-control bg-secondary"
              id="registerPassword"
            />
          </div>
          <div class="mb-3">
            <label
              for="confirmPassword"
              class="form-label text-light text-center"
            >Confirm Password</label>
            <input
              type="password"
              class="form-control bg-secondary"
              id="confirmPassword"
            />
          </div>
          <div class="mb-3">
            <label
              for="steamUID"
              class="form-label text-light text-center"
            >Steam Id</label><small><em>
                Under Steam username in Account Details</em></small>
            <input
              type="number"
              class="form-control bg-secondary"
              id="register-steamUID"
            />
          </div>
          <div class="mb-3">
            <label for="zipCode" class="form-label text-light text-center">Zip
              Code</label>
            <input
              type="text"
              class="form-control bg-secondary"
              id="register-zipCode"
            />
          </div>
          <button id="register-btn" class="btn btn-secondary">Register</button>
        </form>
      </div>

      <script src="/js/login.js"></script>
    </div>
  </div>
</div>