 <nav class="absolute-top w-100 navbar navbar-expand-lg navbar-dark bg-dark d-flex flex-column">
      <div class="text-center w-100 d-block">
        <h1 class="navbar-brand .display" href="#">The Ultimate System</h1>
      </div>
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse d-block"
          id="navbarSupportedContent"
        >
          <ul class="d-flex navbar-nav mb-2 mb-lg-0 w-100">
            <li class="nav-item">
              <a class="nav-link" href="#">Game Library</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#review">Review</a>
            </li>
            <li class="nav-item ms-auto">
              <p
                class="nav-link active"
                aria-current="page"
                data-bs-toggle="modal"
                data-bs-target="#login"
              >
                Logged in as {{username}}
              </p>
            </li>
          </ul>
        </div>
    </nav>