<div class="card" style="width: 18rem;">
    <img src="assets/images/avatar.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{username}}</h5>
      <p class="card-text">{{steamID}}</p>
      <p class="card-text">{{zipCode}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
