<div class="card mx-auto mt-5" style="width: 21.5em;">
  <img src="https://picsum.photos/500/500?2" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">User Name: {{username}}</h5>
    <h5 class="card-title">Email Address: {{email}}</h5>
    <h5 class="card-title">Steam ID: {{SteamId}}</h5>
    <h5 class="card-title">Zip Code: {{zipCode}}</h5>
    {{! <a
      href="#"
      class="btn btn-primary"
      style="width: 19em;margin:15 auto;"
      ;
    >Rate User</a> }}
  </div>
</div>