<div class="profile">
  <div class="row justify-content-center">
    <div class="col-sm-3" style="margin-top: 60px;">
      <div class="card">

        <img
          src="https://picsum.photos/500/500?2"
          class="card-img-top-top"
          alt="profile avatar"
        />

        <div class="profile-card-body">
          <h5 class="profile-card-title">{{username}}</h5>
          <h5 class="profile-card-title">{{email}}</h5>
          <h5 class="profile-card-title">Steam ID: {{steamUID}}</h5>
          <h5 class="profile-card-title">Zip Code: {{zipCode}}</h5>

        </div>
      </div>
    </div>
  </div>
</div>