<script
  src="https://platform.linkedin.com/badges/js/profile.js"
  async
  defer
></script>

<div class="d-flex w-100 mt-2 justify-content-around" id="linkedin-badges">
  <div class="row">
    <div
      class="badge-base LI-profile-badge"
      data-locale="en_US"
      data-size="medium"
      data-theme="dark"
      data-type="HORIZONTAL"
      data-vanity="cav3mancomputers"
      data-version="v1"
    >
    </div>
    <div
      class="badge-base LI-profile-badge"
      data-locale="en_US"
      data-size="medium"
      data-theme="dark"
      data-type="HORIZONTAL"
      data-vanity="jack-linhart"
      data-version="v1"
    ></div>
  </div>
  <div class="row">
    <div
      class="badge-base LI-profile-badge"
      data-locale="en_US"
      data-size="medium"
      data-theme="dark"
      data-type="HORIZONTAL"
      data-vanity="gregory-friel-ba750646"
      data-version="v1"
    ></div>
    <div
      class="badge-base LI-profile-badge"
      data-locale="en_US"
      data-size="medium"
      data-theme="dark"
      data-type="HORIZONTAL"
      data-vanity="daniel-possehl-a2aa24b4"
      data-version="v1"
    ></div>
  </div>
</div>