{{! render all drivers that we get back from the database table }}
<section class="container">
  <div class="album py-5 bg-light">
    <div id="cards" class="row">
      {{#each gamesData as |games|}}
        <div class="col-md-4">
          <div class="card mb-3 shadow-small">
            <div class="card border-success mb-3">
              <img
                class="card-img-top"
                src="https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
              />
              <div class="card-body">
                <h5 class="card-title">{{game.name}}</h5>
                <p class="card-text">{{}}</p>
                <p>{{}}</p>
                <button class="btn btn-primary">View Driver</button>
                <button
                  class="btn btn-danger delete-btn"
                  data-id="{{game.id}}"
                >Delete Game</button>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <form id="add-game">
    <h1 class="h3 mb-3 fw-normal">Add A Driver</h1>
    <div class="form-floating">
      <input
        type="text"
        class="form-control game-name"
        id="floatingInput"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control driver-address"
        id="floatingPassword"
        placeholder="Password"
      />
      <label>Address</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</section>

<script src="/js/add-driver.js"></script>
<script src="/js/delete-driver.js"></script>