body {
  background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fcdn.wallpapersafari.com%2F75%2F51%2FZM6vbY.png");
  background-position: center;
  padding-bottom: 95px;
}

nav {
  background-image: url("https://m.gjcdn.net/game-header/950/328249-qdvjjwua-v4.jpg");
  background-blend-mode: soft-light;
  background-size: 100%;
  background-position: center;
}

nav a {
  color: red;
}

footer {
  background-image: url("https://i.pinimg.com/originals/f9/10/93/f91093b7300c29a32145131a7762b70f.jpg");
}

h1 {
  font-family: "VT323", monospace;
  color: greenyellow;
  text-align: center;
  margin-top: 100px;
  font-size: 65px !important;
}

.card-img-top {
  max-height: 100%;
}

.card-img-top-top {
  max-width: 100%;
  max-height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  background-color: slategray;
  overflow: hidden;
}

.profile-card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.profile-card-body {
  display: flex;
  flex-direction: column;
  background-color: slategray;
}

.card-title {
  color: black;
  height: 100%;
  overflow-y: ellipsis;
}

.profile-card-title {
  font-size: 22px;
  height: 100%;
}
